body {
    background-color: #22272c;
    margin: 0;
}
.white {
    color: white;
}

table {
	border: 1px solid black;
	padding: 6em;
}

#tables {
	display: flex;
	width: 90vw;
	height: 90vw;
	margin: 0 auto;
}
